@import "tailwindcss";

@layer base {
  html {
    font-size: 16px;
    line-height: 26px;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
  }
}

@theme {
  --text-basic: 16px;
  --text-basic--line-height: 26px;

  --text-heading: 40px;
  --text-heading--line-height: 40px;

  --text-helper: 12px;
  --text-helper--line-height: 14px;

  --color-primary: #F4E041;
  --color-button-hover: #FFE302;
  --color-disabled: #B4B4B4;
  --color-text-disabled: #FFFFFFDE;
  --color-secondary: #00BDD3;
  --color-background: #F8F8F8;
  --color-image-background: #00000080;
  --color-gray: #D0CFCF;
  --color-darkgray: #7E7E7E;
  --color-error-red: #CB3D40;
}
